<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   reminders.plist
   Note & Remind

   Created by Josh Huerkamp on 9/15/16.
   Copyright (c) 2016 CapTech. All rights reserved.
-->
<plist version="1.0">
    <dict>
    
    </dict>
</plist>
